<div class="page" id="top">            
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 " style='background-color: #fff;' id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                       Checkout
                    </h1>
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>

	<%if @cart.empty?%>
		<p> Your cart is empty</p>
	<%end%></br></br>

	<% total = 0%>
	<div class="row">
		<div class="col-md-8">
			<ul>
			    <% @cart.each do |id, number_of_tickets|%>
					<% ticket = Ticket.find_by_id(id)%>
					<table class="table">
						<th>Ticket Number</th>
						<th>Ticket Type</th>
						<th>Amount/Ticket</th>
						<th>Quantity</th>
						<tr>

						<td><%=ticket.ticket_number%></td>
						<td><%=ticket.ticket_type%></td>
						<td><%=number_to_currency(ticket.ticket_selling_price, :unit => '$')%></td>
						<td><%=number_of_tickets%></td></tr>
					</table>

					<% total += number_of_tickets * ticket.ticket_selling_price %>
					<% current_user_band = Band.where(:id => current_user.buyer_band) %>
					<% band_value = nil%>
					<% total_amount = nil%>
				    <% current_user_band.each do |band|%>
						<% total += total*band.value%>
						<% band_value = band.value%>
				    <%end%>

					<p><b> Total (+<%=band_value%>% service charge): <%= number_to_currency(total, :unit => '$')%></b> </p>
					<!--<a href="/cart/checkout/<%=ticket.id%>"><button class="btn btn-mod btn-large btn-round">Checkout</button></a>-->

					<!--<a href="/transactions/purchase/<%=ticket.id%>"><button class="btn btn-mod btn-large btn-round">Transactions</button></a>-->
				<!-- 	<%if !@cart.empty?%>
						<%= link_to 'Empty Cart', cart_clear_path, :class=>"submit_btn btn btn-mod btn-medium btn-round"%>
					<%end%> -->
					<td><%= link_to 'Proceed to Payment', {controller: "tickets", action: "payment", ticket_number: ticket.ticket_number,ticket_type: ticket.ticket_type,ticket_selling_price: ticket.ticket_selling_price, number_of_tickets: number_of_tickets, :id => ticket.id, event_id: ticket.event_id}, :class=>"submit_btn btn btn-mod btn-medium btn-round"%></td>

				<%end%>

			</ul>
		</div>
		<div class="col-md-4">            
            <div class="alt-service-wrap">
                <div class="alt-service-item">
                    <div class="alt-service-icon">
                        <i class="fa fa-paper-plane-o"></i>
                    </div>
                    <h3 class="alt-services-title font-alt">Instant e-Shipping</h3>
                    E-tickets ship instantly
                </div>
            </div>
            
            <div class="alt-service-wrap">
                <div class="alt-service-item">
                    <div class="alt-service-icon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <h3 class="alt-services-title font-alt">Anti Fraud</h3>
                    We take the utmost precautions to protect your purchase
                </div>
            </div>
            
            <div class="alt-service-wrap">
                <div class="alt-service-item">
                    <div class="alt-service-icon">
                        <i class="fa fa-gift"></i>
                    </div>
                    <h3 class="alt-services-title font-alt">100% Original</h3>
                    Verified sellers
                </div>
            </div>
		</div>
	</div>
</div>
