<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <h3>Email</h3>
    <%= f.text_field :email %>
  </div>
    <div class="field">
      <h3>Password</h3>
      <%= f.password_field :password %>
    </div>

  <div class="actions">
    <%= f.submit "Register", :class=>"submit_btn btn btn-mod btn-medium btn-round"  %>
  </div>
<% end %>
