<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
      <h3>First Name</h3>
      <%= f.text_field :first_name %>
    </div>

      <div class="field">
      <h3>Last Name</h3>
      <%= f.text_field :last_name %>
    </div>

      <div class="field">
      <h3>Gender</h3>
      <%= f.select :gender, ['male', 'female']%>
    </div>

      <div class="field">
      <h3>Address</h3>
      <%= f.text_field :address %>
    </div>

      <div class="field">
      <h3>Postcode</h3>
      <%= f.text_field :postcode %>
    </div>

  <div class="actions">
    <%= f.submit "Update", :class=>"submit_btn btn btn-mod btn-medium btn-round"  %>
  </div>
<% end %>



<%= link_to 'Show', @user %> |
<%= link_to 'Back', user_path %>
