
<div class="page" id="top">            
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 " style='background-color: #fff;' id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                      Edit User
                    </h1>
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>

    <div class="container">
      <%= form_for(@user) do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row col-md-offset-3 mt-50"> 
          <div class="col-md-4">
            <div class="field mb-10">
              <%= f.text_field :first_name, :class => "input-md round form-control", :placeholder => "First Name" %>
            </div>
            <div class="field mb-10">
              <%= f.text_field :last_name, :class => "input-md round form-control", :placeholder => "Last Name" %>
            </div>
            <div class="field mb-10">
            <th>Paypal Email</th>
              <%= f.text_field :paypal_email, :class => "input-md round form-control", :placeholder => "Paypal Email" %>
            </div>
            <div class="field mb-10">
              <%= f.select :gender, ['Male', 'Female'], :class => "input-md round form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="field mb-10">
              <%= f.text_field :address, :class => "input-md round form-control", :placeholder => "Address" %>
            </div>
            <div class="field mb-10">
              <%= f.text_field :postcode, :class => "input-md round form-control", :placeholder => "Postal Code" %>
            </div>
            <div class="clearfix">
              <!-- Send Button -->
              <div class="align-right pt-10">
                  <%= submit_tag "Update", :class => "submit_btn btn btn-mod btn-medium btn-round", :id => "login-btn" %>
              </div>
            </div>
          </div>
          
        </div>  
      <% end %>
    </div>
</div>

<!--<%= link_to 'Show', @user, :class=>"submit_btn btn btn-mod btn-medium btn-round" %>--> 
<%= link_to 'Back', user_path, :class=>"submit_btn btn btn-mod btn-medium btn-round" %>
