<div class="container">
  

  <h2>Hello <%=@user.name%></h2>

  <table summary="User detail view">
    <tr> 
      <th>Email</th>
      <td><%= @user.email %></td>
    </tr>
   
     <tr>
      <th>Name</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><%= @user.gender %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%=@user.address %></td>
    </tr>
    <tr>
      <th>Postcode</th>
      <td><%= @user.postcode %></td>
    </tr>
  
  </table>

</div>




<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path%> |
<%= link_to 'My Transactions', controller:"transactions", action:"user_transactions", :user_id => current_user.id %>



</div>