<%= form_for(@event, multipart: true) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field cat">
     <h3>Select Category</h3>
    <%= f.select :category, ['Concerts', 'Sports', 'Theatre', 'Comedy', 'Festivals', 'Family', 'Deals', 'Other'], :autocomplete => :off %>
  </div>
  <div class="field title">
    <%= f.text_field :title, :placeholder=>"Title" %>
  </div>
  <div class="field desc">
    <%= f.text_area :description, :placeholder=>"Description", :rows => 5 %>
  </div>
    <div class="field loc">
    <%= f.text_field :location, :placeholder=>"Location" %>
  </div>
  <div class="field ven">
    <%= f.text_field :venue, :placeholder=>"Venue" %>
  </div>
 
  <div class="field gen">
    <%= f.text_field :genre, :placeholder=>"Genre" %>
  </div>
  <div class="field date">
  <%= f.label :Event_Date %><br>
    <%= f.datetime_select :event_date_time %>
  </div>
   <div class="field date">
   <%= f.label :"Event Expires On" %><br>
    <%= f.datetime_select :expires_on %>
  </div>
  <div class="field">
    <%= f.label :ticket_attachment %><br>
    <%= f.file_field :ticket_attachment %>
  </div>

  <div class="field">
    <%= f.label :pictures %>
  <!-- The magic is coming ...look at my eyes....shazammmm -->
  <%= file_field_tag "images[]", type: :file, multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
