  <% if @search_result.count==0 %>
  <h3> No Such Event Found <h3>
  <%=link_to "Create New Event", controller: "events", action: "new" %>

<%else%>

  <% @search_result.each do |event| %>
                                <!-- Shop Item -->
                                <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                                    <div class="post-prev-img">
                                        
                                        
                                        <%if (event.event_images.exists?)%>
                                         
                                            <%= link_to event ,:class => "event-link" do%><img src="<%=event.event_images.first.image_url%>" alt="" /><% end %>
                                        <%else%>
                                            <%= link_to event ,:class => "event-link" do%><img src="../../assets/logo.png"  alt="" /><% end %>
                                        <%end%>
                                        <!-- <div class="intro-label">
                                            <span class="label label-danger bg-red">Sale</span>
                                        </div> -->
                                        
                                    </div>
                                    
                                    <div class="post-prev-title font-alt align-center">
                                        
                                        <%= link_to event ,:class => "event-link" do%><%= event.title %><% end %>
                                    </div>

                                    
                                </div>
                                <!-- End Shop Item -->
                                <% end %>
<%end%>