<%= javascript_include_tag "minimal_form/classie.js", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "minimal_form/modernizr.custom.js", 'data-turbolinks-track' => true %>
<%= javascript_include_tag "minimal_form/stepsform.js", 'data-turbolinks-track' => true %>
  <div style="padding-top: 75px;"></div>
  <section class="small-section bg-dark" data-background="images/full-width-images/section-bg-2.jpg">
    <div class="relative container align-left">
        
        <div class="row">
            
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Sell tickets</h1>
                <div class="hs-line-4 font-alt">
                    Search for an event here to sell tickets
                </div>
            </div>
            
        </div>
        
    </div>
  </section>
<!-- End Head Section -->
            
<!-- Search Section -->
<section class="small-section">
  <div class="container relative">
    <%= form_for(Event.new, :html =>{:class =>"simform form-inline form",:role => "form", :id=>"theForm",:autocomplete=>"off"},:url => { :action => :ticket_step1 }) do |f| %>
      <div class="simform-inner search-wrap">
          <button class="search-button animate" type="submit" title="Start Search">
              <i class="fa fa-search"></i>
          </button>
          <input id="search_text" name="search_text" type="text" class="form-control search-field" placeholder="Search...">
      </div>
      <div class="controls">
        <button class="next hidden"></button>
        <div class="progress"></div>
        <span class="number">
          <span class="number-current"></span>
          <span class="number-total"></span>
        </span>
        <span class="error-message"></span>
      </div><!-- / controls -->
      <span class="final-message"></span>
      <%= link_to 'Try Again', '#', :class=>"submit_btn btn btn-mod btn-medium btn-round align-right" %>
    <% end %>  
  
  </div>
</section>

<section class="dynamic_search" >
  <%= render partial: 'search_result'%>
</section>

<%if false%>
<!-- <section>
  
  <%= form_for(@event, :html =>{:class =>"simform",:id=>"theForm",:autocomplete=>"off"}, :url => {:action => :ticket_step1}) do |f| %>
        
          <div class="simform-inner">
            <ol class="questions">
              <li>
                <span><label for="q1">Enter Event Name</label></span>
                
                <%= f.text_field :title ,:class=>"q1",:id=>"q1"%>
              </li>
              <li>
                <span><label for="q2">Enter Event Location</label></span>
                <%= f.text_field :location ,:class=>"q2",:id=>"q2"%>
              </li>
            </ol>
            <button class="submit" type="submit">Send answers</button>
            <div class="controls">
              <button class="next hidden"></button>
              <div class="progress"></div>
              <span class="number">
                <span class="number-current"></span>
                <span class="number-total"></span>
              </span>
              <span class="error-message"></span>
            </div>
          </div>
          <span class="final-message"></span>
        </form>
        <%= link_to 'Try Again'%>
      </section>

  <% end %>  
  

  <section class="dynamic_search">
    <%= render partial: 'search_result'%>
  </section> -->
  <% end %>  