<style type="text/css">
    select{
        width: 50px;
    }
</style>
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
           
            
            <!-- Head Section -->
            <section class="small-section bg-gray-lighter" style="background:url(<%=@event.event_images.first.attachment.url%>);background-size:cover;background-position:center center">
                <div class="relative container align-left">
                    
                    <div class="row">
                        
                        <div class="col-md-8">
                            <h1 class="hs-line-11 font-alt mb-20 mb-xs-0"><%=@events.title%></h1>
                            <div class="hs-line-4 font-alt black">
                                <%= @events.venue%> in <%= @events.location%>
                            </div>


                        </div>
                        
                        <div class="col-md-4 mt-30">
                            <div class="post-prev-more align-center">

                                 <%if user_signed_in?%>
                                 <%= link_to  controller:"tickets", action:"new", event_id: @event.id do%>
                                        <div class="call-to-action-sale sell">Sell Ticket</div>
                                 <%end%> 

                               <!--   <a href = "/tickets/gen_ticket/<%=@event.id%>"> Sell Ticket </a> -->

                                 <%end%>

                                

                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </section>
            <!-- End Head Section -->
            
            
            <!-- Section -->
            <section class="page-section">
                <div class="container relative">
                    
                    <!-- Product Content -->
                    <div class="row mb-60 mb-xs-30">
                        
                        <!-- Product Images -->
                        <div class="col-md-4 mb-md-30">
                            
                            <div class="post-prev-img">
                                <!--@event.event_images.first.attachment.url -->
                                <a href="#" class="lightbox-gallery-3 mfp-image"><img src="<%=@event.event_images.first.attachment.url%>" alt="" /></a>
                                <div class="intro-label">
                                    <span class="label label-danger bg-red">Hot</span>
                                </div>
                            </div>
                            
                       <!--      <div class="row">
                                
                                <div class="col-xs-3 post-prev-img">
                                    <a href="images/shop/shop-prev-2.jpg" class="lightbox-gallery-3 mfp-image"><img src="../../assets/shop-prev-1.jpg" alt="" /></a>
                                </div>
                                
                                <div class="col-xs-3 post-prev-img">
                                    <a href="images/shop/shop-prev-3.jpg" class="lightbox-gallery-3 mfp-image"><img src="../../assets/shop-prev-1.jpg" alt="" /></a>
                                </div>
                                
                                <div class="col-xs-3 post-prev-img">
                                    <a href="images/shop/shop-prev-4.jpg" class="lightbox-gallery-3 mfp-image"><img src="../../assets/shop-prev-1.jpg" alt="" /></a>
                                </div>
                                
                            </div> -->
                            
                        </div>
                        <!-- End Product Images -->
                        
                        <!-- Product Description -->
                        <div class="col-sm-8 col-md-5 mb-xs-40">
                            
                            <h3 class="mt-0"><%= @event.title %> </h3>
                            
                            <hr class="mt-0 mb-30"/>
                            <div class="row">
                                <div class="col-xs-6 lead mt-0 mb-20">
                                    <h3>Venue</h3>
                                    <%= @event.venue %>
                                </div>
                                 <div class="col-xs-6 lead mt-0 mb-20">
                                    <h3>Location</h3>
                                    <%= @event.location %>
                                </div>
                                
                            </div>
                            <hr class="mt-0 mb-30"/>
                            <div class="row">
                                <div class="col-xs-12 lead mt-0 mb-20">
                                    <table>
                                        <th>Price</th><th>Available Quantity</th><th>Select Quantity</th>
                                    <% @tickets.each do |ticket|  %>
                                        <tr>
                                            <td><%= ticket.ticket_selling_price %></td>
                                            <td><%= ticket.number_of_tickets - ticket.transactions.sum(:number_of_tickets_purchased)%></td>
                                            <%= form_for(@tickets_q ,:url => {:controller => :cart, :action => :add ,:id=> ticket.id}) do |f| %>
                                            <td>
                                                    
                                                 
                                                    <%= f.select(:number_of_tickets, 1.. ticket.number_of_tickets - ticket.transactions.sum(:number_of_tickets_purchased),  :class => "myDropDown") %>
                                                
                                            </td>

                                            <!--<td><input type="radio" for="select_ticket"  value="<%= ticket.id%>"></td>-->
                                            
                                            <td>
                                                <%unless session[:cart]%>
                                            
                                              <%= f.submit "Add To Cart",:class=>"submit_btn btn btn-mod btn-medium btn-round" %>

                                              <%end%>
                                               

                                               <!-- <a href = "/cart/<%=ticket.id%>"> Add to Cart </a> -->
                                            </td>
                                              <%end%>  
                                        </tr>
                                    <% end %>
                                    </table>
                                </div>
                                
                            </div>
                            
                            <hr class="mt-0 mb-30"/> 
                            
                            <div class="section-text mb-30">
                                <h3>Description</h3>
                                <%= @event.description %>
                            </div>
                            
                            

                            
                           

                            
                        </div>
                        <!-- End Product Description -->
                        
                        <!-- Features -->
                        <div class="col-sm-4 col-md-3 mb-xs-40">
                            
                            <!-- Features Item -->
                            <div class="alt-service-wrap">
                                <div class="alt-service-item">
                                    <div class="alt-service-icon">
                                        <i class="fa fa-paper-plane-o"></i>
                                    </div>
                                    <h3 class="alt-services-title font-alt">Instant e-Shipping</h3>
                                    E-tickets ship instantly
                                </div>
                            </div>
                            <!-- End Features Item -->
                            
                            <!-- Features Item -->
                            <div class="alt-service-wrap">
                                <div class="alt-service-item">
                                    <div class="alt-service-icon">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                    <h3 class="alt-services-title font-alt">Anti Fraud</h3>
                                    We take the utmost precautions to protect your purchase
                                </div>
                            </div>
                            <!-- End Features Item -->
                            
                            <!-- Features Item -->
                            <div class="alt-service-wrap">
                                <div class="alt-service-item">
                                    <div class="alt-service-icon">
                                        <i class="fa fa-gift"></i>
                                    </div>
                                    <h3 class="alt-services-title font-alt">100% Original</h3>
                                    Verified sellers
                                </div>
                            </div>
                            <!-- End Features Item -->
                                
                                
                            
                        </div>
                        <!-- End Features -->
                        
                    </div>
                    <!-- End Product Content -->
                    
                    
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tpl-tabs animate">
                        <li class="active">
                            <a href="#one" data-toggle="tab">Description</a>
                        </li>
                        <li>
                            <a href="#two" data-toggle="tab">Details</a>
                        </li>
                        
                    </ul>
                    <!-- End Nav tabs -->
                    
                    <!-- Tab panes -->
                    <div class="tab-content tpl-tabs-cont">
                        <div class="tab-pane fade in active" id="one">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis lacus augue, a hendrerit leo tristique vitae. Mauris non ipsum molestie, sagittis elit ac, vulputate odio. Fusce quam augue, gravida tincidunt dui nec, tempor iaculis justo.
                                Aliquam tortor leo, pharetra non congue sit amet, bibendum sit amet enim. Nullam sit amet malesuada justo.
                            </p>
                            <p>
                                Nunc vulputate semper erat, non iaculis sapien congue sit amet. Duis non nulla volutpat, dignissim leo sit amet, porta nunc. Donec placerat fermentum metus ac scelerisque. In id sollicitudin nulla. Suspendisse potenti. Integer aliquam orci 
                                aliquam eros posuere ornare. Fusce augue felis, maximus non lacus vitae, ullamcorper dignissim leo. Ut congue feugiat turpis at aliquam. Donec eros neque, accumsan sed venenatis volutpat, tempor at metus.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="two">
                            
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>
                                        Detail
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        Size
                                    </td>
                                    <td>
                                        Small, Medium & Large
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Color
                                    </td>
                                    <td>
                                        Black & White
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Waist
                                    </td>
                                    <td>
                                        25cm
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Length
                                    </td>
                                    <td>
                                        50cm
                                    </td>
                                </tr>
                            </table>
                            
                        </div>
                        
                    </div>
                    <!-- End Tab panes -->
                
                </div>
            </section>
            <!-- End Section -->
            
            
            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->
            
            
            <!-- Related Products -->
            <section class="page-section">
                <div class="container relative">
                    
                    <h2 class="section-title font-alt mb-70 mb-sm-40">
                        Related Events
                    </h2>
                    
                    <!-- Products Grid -->
                            <div class="row multi-columns-row">
                        
                                <% @related.each do |event| %>
                                <!-- Shop Item -->
                                <div class="col-md-3 col-lg-3 mb-60 mb-xs-40 item-event">
                                    
                                    <div class="post-prev-img">
                                        
                                        <%= link_to event ,:class => "event-link" do%><img src="../../assets/shop/shop-prev-1.jpg" alt="" /><% end %>
                                        
                                        <!-- <div class="intro-label">
                                            <span class="label label-danger bg-red">Sale</span>
                                        </div> -->
                                        
                                    </div>
                                    
                                    <div class="post-prev-title font-alt align-center">
                                        
                                        <%= link_to event ,:class => "event-link" do%><%= event.title %><% end %>
                                    </div>

                                    <div class="post-prev-text align-center">
                                        <%= link_to  controller:"tickets", action:"new", event_id: event.id do%><div class="call-to-action-sale sell">Sell Ticket</div><%end%>
                                        <%= link_to event ,:class => "event-link" do%><div class="call-to-action-sale buy">Buy Ticket</div>
                                        <%end%>
                                    </div>
                                    
                                    <!-- <div class="post-prev-more align-center">
                                        <a href="#" class="btn btn-mod btn-gray btn-round"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    </div> -->
                                    
                                </div>
                                <!-- End Shop Item -->
                                <% end %>
                    </div>
                    <!-- End Products Grid -->
                    
                </div>
            </section>
            <!-- End Related Products -->
            
            
            <!-- Foter -->
            <footer class="page-section bg-gray-lighter footer pb-60">
                <div class="container">
                    
                    <!-- Footer Logo -->
                    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
                        <a href="#top"><img src="../../assets/logo.png" width="78" height="36" alt="" /></a>
                    </div>
                    <!-- End Footer Logo -->
                    
                    <!-- Social Links -->
                    <div class="footer-social-links mb-110 mb-xs-60">
                        <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" title="Behance" target="_blank"><i class="fa fa-behance"></i></a>
                        <a href="#" title="LinkedIn+" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a href="#" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a>
                    </div>
                    <!-- End Social Links -->  
                    
                    <!-- Footer Text -->
                    <div class="footer-text">
                        
                        <!-- Copyright -->
                        <div class="footer-copy font-alt">
                            <a href="www.thosetwoguys.in" target="_blank">&copy; TTG 2015</a>.
                        </div>
                        <!-- End Copyright -->
                        
                        <div class="footer-made">
                            Made with love for great people.
                        </div>
                        
                    </div>
                    <!-- End Footer Text --> 
                    
                 </div>
                 
                 
                 <!-- Top Link -->
                 <div class="local-scroll">
                     <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
                 </div>
                 <!-- End Top Link -->
                 
            </footer>
            <!-- End Foter -->
        
        
        </div>
        <!-- End Page Wrap -->

