
<div class="page" id="top">            
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 " style='background-color: #fff;' id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                      Your Tickets
                    </h1>
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>
  <div class="col-md-10 col-md-offset-1" style="min-height: 350px;">
   <table class="table">
    <tr>
      <th>Event Name</th>
      <th>Number Of Tickets</th>
      <th>Ticket Printed Price</th>
      <th>Ticket Selling Price</th>
      <th>Ticket Serial Number</th>
      <th>Seat Number</th>
      <th>Section</th>
      <th>Rows</th>
      <th>Ticket Type</th>
      <th>Published</th>
      <th>Tickets Sold</th>
    </tr>

<% @tickets.each do |ticket| %>
    <tr>
    <td><%=link_to Event.where(:id => ticket.event_id).first.title, :controller => "events", :action=> "show", :id => ticket.event_id%></td>
      <td><%= ticket.number_of_tickets %></td>
      <td><%= ticket.ticket_printed_price %></td>
      <td><%= ticket.ticket_selling_price %></td>
      <td><%= ticket.ticket_number %></td>
      <td><%= ticket.seat_number %></td>
      <td><%= ticket.section %></td>
      <td><%= ticket.row %></td>
      <td><%= ticket.ticket_type %></td>
      <td><%= ticket.published %></td>
      <td><%= ticket.transactions.sum(:number_of_tickets_purchased)%></td>
      <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
      <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure you want to delete this ticket?' } %></td>
      
 </tr>
 <%end%>
</table>
  </div>
</div>




<%= link_to 'Back', controller:"users", action:"show", id: current_user.id %>
