
<div class="page" id="top">            
    <!-- Home Section -->
    <section class="home-section bg-dark-alfa-50 " style='background-color: #fff;' id="home">
       <div class="container">            
            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text" style="    padding: 100px 0px 45px 0px;">
                    
                    <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                      New Ticket for <%= @event.title%>
                    </h1>
                </div>
            </div>
            <!-- End Hero Content -->            
       </div>
    </section>

    <div class="container">
      <%= form_for(@ticket, :url =>  {controller:"tickets", action:"create", event_id: @event.id, :current_user_id => current_user.id}, :html => { :multipart => true }) do |f| %> 
        <% if @ticket.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

            <ul>
            <% @ticket.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="row mt-50 col-md-offset-2"> 
          <div class="col-md-4">
          If seat numbers are specified on your tickets, all tickets must be consecutive. For non-consecutive tickets, you must create separate listings.
            <div class="field mb-10">
              <%= f.text_field :number_of_tickets, :class => "input-md round form-control", :autocomplete => :off, :required => true, :placeholder => "Number of Tickets" %>
            </div>
            <div class="field mb-10">
              <%= f.text_field :ticket_printed_price, :class => "input-md round form-control", :autocomplete => :off, :required => true, :placeholder => "Ticket Face Value/Ticket" %>
            </div>
            <div class="field mb-10">
              <%= f.text_field :ticket_selling_price, :class => "input-md round form-control", :autocomplete => :off, :required => true, :placeholder => "Ticket Selling Price/Ticket" %>
            </div>
            <div class="field mb-10">
              <%= f.text_field :seat_number, :class => "input-md round form-control", :autocomplete => :off, :placeholder => "Seat Number", :required => true %>
            </div>
            <div class="field mb-10">
              <%= f.text_field :section, :class => "input-md round form-control", :autocomplete => :off, :placeholder => "Section", :required => true %>
            </div>
            <div class="field mb-10">
              <%= f.text_field :row, :class => "input-md round form-control", :autocomplete => :off, :placeholder => "Rows", :required => true %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="field mb-10">
              <%= f.text_field :booking_id, :class => "input-md round form-control", :autocomplete => :off,:placeholder=>"Your Ticket Booking ID/PNR", :required => true %>
            </div>
            
            <div class="field mb-10">
              <%= f.select :ticket_type, ['Electronic', 'Paper'], {:prompt => "Ticket Type"}, {:class =>"input-md form-control round",:autocomplete => :off} %>
            </div>

           <%if current_user.paypal_email.blank?%>
              <div class="field mb-10">
              <%=form_for(:user, :url =>  {:controller => :users, :action => :update, :id => current_user.id}) do |f| %>
              <%=f.text_field :paypal_email, :class =>"input-md form-control round",:autocomplete => :off,:required => true, :placeholder => "Paypal Email" %>
              <%end%>
             </div>
            <%end%>

            <div class="field mb-10">
              Please upload your Ticket Attachment (PDF) here for verification. 
              <%= file_field_tag "images[]", type: :file, multipart: true, :required => true%>
            </div>

            <div class="clearfix">
              <!-- Send Button -->
              <div class="align-right pt-10">
                  <%= submit_tag "SUBMIT", :class => "submit_btn btn btn-mod btn-medium btn-round", :id => "login-btn" %>
              </div>
            </div>
          </div>
          
        </div>  
      <% end %>
    </div>
</div>

