<div class="page" id="top">

  <!-- Head Section -->
 <!--  <section class="small-section bg-dark-lighter">
      <div class="relative container align-left">
          
          <div class="row">
              
              <div class="col-md-8">
                  <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">My Account</h1>
                  <div class="hs-line-4 font-alt">
                      Sign in or register here
                  </div>
              </div>

          </div>
          
      </div>
  </section> -->
  <!-- End Head Section -->
  
  
  <!-- Section -->
  <section class="page-section">
      <div class="container relative">
          <% flash.each do |message_type, message| %>
              <div class="alert notice"><%= message %></div>
          <% end %>
          <!-- Nav Tabs -->
          <div class="align-center mb-40 mb-xxs-30">
              <ul class="nav nav-tabs tpl-minimal-tabs">
                  
                  <li class="active">
                      <a href="#mini-one" data-toggle="tab">Login</a>
                  </li>
                  
                  <li>
                      <a href="#mini-two" data-toggle="tab">Registration</a>
                  </li>
                  
              </ul>
          </div>
          <!-- End Nav Tabs -->
          
          <!-- Tab panes -->
          <div class="tab-content tpl-minimal-tabs-cont section-text">
              
              <div class="tab-pane fade in active" id="mini-one">
                  
                  <!-- Login Form -->                            
                  <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form contact-form'}) do |f| %>
                            <!-- <form class="form contact-form" id="contact_form"> -->
                            <div class="clearfix">                                                  
                                <!-- Email -->
                                <div class="form-group">
                                    <%= f.email_field :email , :class => "input-md round form-control",:placeholder =>"Email", autofocus: true %>
                                </div> 

                                <!-- Password -->
                                <div class="form-group">                       
                                    
                                    <%= f.password_field :password , :class => "input-md round form-control",:placeholder =>"Password", autocomplete: "off" %>
                                </div>
                                <% if devise_mapping.rememberable? -%>
                                  <div class="form-group" style="margin: 15px 0 0 0;">
                                      <%= f.label :remember_me, class: "checkbox inline " do %>
                                          <%= f.check_box :remember_me %>
                                          <span class="help-block"  style="    opacity: .65;    text-decoration: none;    font-weight: 400;">Remember me </span>
                                      <% end %>
                                  </div>
                                <% end -%>
                                
                            </div>
                            
                            <div class="clearfix form-tip">
                              <div class="cf-left-col">
                                      
                                  <!-- Inform Tip -->    
                                  <div class="row">
                                  <div class="form-tip pt-10">
                                      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                                        <p><%= link_to "Forgot password?", new_password_path(resource_name) %></p>
                                      <% end -%>
                                  </div>
                                  <div class="form-tip">
                                    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                                      <div class="form-tip form-group">
                                          <p>New user? <%= link_to "Sign up now!", new_registration_path(resource_name) %></p>
                                      </div>            
                                    <% end -%> 
                                  </div>
                                  </div>                                    
                              </div>

                              <div class="cf-right-col">
                                <!-- Send Button -->
                                <div class="align-right pt-10 ">
                                    
                                    <%= f.submit "Login", :class => "submit_btn btn btn-mod btn-medium btn-round"%>
                                </div>
                              </div>  
                                <!-- Inform Tip --> 
                                   
                            </div>            
                                
                            <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
                              <p class="pt-20"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></p>
                            <% end -%>
                            <!-- </form> -->
                        <% end %> 
                          
                      </div>
                  </div>
                  <!-- End Login Form -->
                  
              </div>
              
              <div class="tab-pane fade" id="mini-two">
                  
                  <!-- Registry Form -->                            
                  <div class="row">
                      <div class="col-md-4 col-md-offset-4">
                          
                          <form class="form contact-form" id="contact_form">
                              <div class="clearfix">
                                  
                                  <!-- Email -->
                                  <div class="form-group">
                                      <input type="text" name="Email" id="Email" class="input-md round form-control" placeholder="Email" pattern=".{3,100}" required>
                                  </div>
                                  
                                  <!-- Username -->
                                  <div class="form-group">
                                      <input type="text" name="username" id="username" class="input-md round form-control" placeholder="Username" pattern=".{3,100}" required>
                                  </div>
                                  
                                  <!-- Password -->
                                  <div class="form-group">
                                      <input type="password" name="password" id="password" class="input-md round form-control" placeholder="Password" pattern=".{5,100}" required>
                                  </div>
                                  
                                  <!-- Re-enter Password -->
                                  <div class="form-group">
                                      <input type="password" name="re-password" id="re-password" class="input-md round form-control" placeholder="Re-enter Password" pattern=".{5,100}" required>
                                  </div>
                                      
                              </div>
                              
                              <!-- Send Button -->
                              <div class="pt-10">
                                  <button class="submit_btn btn btn-mod btn-medium btn-round btn-full" id="reg-btn">Register</button>
                              </div>
                              
                          </form>
                          
                      </div>
                  </div>
                  <!-- End Registry Form -->
                  
              </div>
              
          </div>
          
      </div>
  </section>
  <!-- End Section -->

</div>