<h1 style="text-align:center">We Found The Following Events</h1>

<% @search_result.each do |event| %>
                                <!-- Shop Item -->
                                <div class="col-md-3 col-lg-3 mb-60 mb-xs-40">
                                    
                                    <div class="post-prev-img">
                                        
                                      <!--   
                                        <%= link_to  controller:"events", action:"show", id: event.id do%><img src="../../assets/shop/shop-prev-1.jpg" alt="" /><% end %> -->
                                       <%if (event.event_images.exists?)%>
                                         
                                            <%= link_to event ,:class => "event-link" do%><img src="<%=event.event_images.first.image_url%>" alt="" /><% end %>
                                        <%else%>
                                            <%= link_to event ,:class => "event-link" do%><img src="../../assets/logo.png"  alt="" /><% end %>
                                        <%end%>
                                        
                                    </div>
                                    
                                    <div class="post-prev-title font-alt align-center">
                                        
                                        <%= link_to event ,:class => "event-link" do%><%= event.title %><% end %>
                                    </div>
                                    
                                </div>
                                <!-- End Shop Item -->
                                <% end %>