<div class="container">
	<h1>Your Transaction History</h1>

	<table class="table" id="transactions-history-table">
		<th>Transaction ID</th><th>Event Name</th><th>Ticket Number</th><th>Event Time</th><th>Price Paid</th><th>Ticket Type</th><th>Actions</th>
		<% @purchase_history.each do |purchase_history|%>
		<tr>
			<td><%= purchase_history.id%></td>
			<td><%= link_to Event.where(:id => purchase_history.event_id).first.title, :controller => "events", :action=> "show", :id => purchase_history.event_id%></td>
			<td><%= purchase_history.ticket_number%></td>
			<td><%= Event.where(:id => purchase_history.event_id).first.event_date_time %></td>
			<td><%= purchase_history.ticket_selling_price%></td>
			<td><%= purchase_history.ticket_type%></td>
			
		</tr>

		<%end%>
	</table>
</div>