<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
  <meta name="keywords" content="">
  <meta charset="utf-8">
  <meta name="author" content="Stubfair">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <title>Stubfair</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body class="appear-animate">
	<div class="page" id="top">
		<%= render 'layouts/header'%>
     <!--  <div class="underbar" style="float:left; clear:both; width:100%; text-align:center; font-weight:400; font-size:16px;">
       
      </div> -->
		<%= yield %>
    <%if user_signed_in? && (params[:controller] =='events' || params[:controller] =='welcome' || params[:controller] =='searches') %>
          <%= link_to new_event_path do%>
              <div class="submit_btn btn btn-mod btn-medium btn-round align-right">Create New Event</div>
          <%end%>
        <%end%>
		<%= render 'layouts/footer'%>
	</div>

 <!--  <script>
      var theForm = document.getElementById( 'theForm' );
      
      new stepsForm( theForm, {
        onSubmit : function( form ) {
          // hide form
          classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );

          /*
          form.submit()
          or
          AJAX request (maybe show loading indicator while we don't have an answer..)
          */

          // let's just simulate something...
          form.submit();
          var messageEl = theForm.querySelector( '.final-message' );
          messageEl.innerHTML = 'Searching for events...';
          classie.addClass( messageEl, 'show' );
          //$('.dynamic_search').load('/sellers/refresh_search');
        }
      } );
  </script> -->

  <!-- To be removed once imagesLoaded error is fixed -->
  </body>
</html>
